/* ==================Section video - start================= */
.firstSection {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.firstSection .imageDiv {
    width: 90%;

}

.firstSection .imageDiv img {
    width: 100%;
}

.firstSection .videoDiv #myBtn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 0.3rem;
    background-color: #009688;
    border: none;
    cursor: pointer;
    margin: 5px 0;
}

/* ==================Section video - end================= */
/* ==================Section card - start================= */
.cards {
    width: 74%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.cards .card {
    width: 38vh;
}

.cards .card .cardTitle {
    color: #fff;
    font-size: 20px;
    margin: 15px 0;
}

.cards .card .cardPara {
    color: #fff;
    font-size: 16px;
    margin: 30px 0;
}

.cards .card .rmBtn {
    text-decoration: none;
    color: #BF9515;
    font-size: 12px;
    cursor: pointer;
}

.cards .card .rmBtn:hover {
    color: #fff;
}

.cards .bgClr {
    background-color: #BF9515;
    height: 145px;
    padding: 40px 0;

}

.card .bgClr h3 {
    color: #fff;
    background-color: #BF9515;
    font-size: 20px;
    text-align: center;
}

.cards .cdBtLine {
    background-color: #fff;
    margin-top: 20px;
    height: 2px;
    width: 100%;
}

/* ==================Section card - end================= */
/* ==================Section Reserve Table - Start================= */
.reserveTbl {
    width: 74%;
    margin: 15px auto;
}

.reserveTbl .reserveTitle {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.reserveTbl form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 20px;
}

.reserveTbl form select {
    width: 260px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0 5px;
}

.reserveTbl form input {
    width: 260px;
    height: 30px;
    color: #fff;
    padding: 0 5px;
    border: 1px solid #fff;
    font-size: 16px;
}

.reserveTbl form .fdTable {
    width: 150px;
    padding: 2px 0;
    border: 1px solid #fff;
    background-color: #BF9515;
    text-align: center;
}

.reserveTbl form .fdTable:hover {
    background-color: #000;
}

.reserveTbl form .fdTable a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.reserveTbl .reserveTableLine {
    background-color: #fff;
    margin-top: 20px;
    height: 2px;
    width: 100%;
}

/* ==================Section Reserve Table - end================= */