.menu .menuTitle h1 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    margin: 20px 0;
}

.menu .menuBox {
    width: 74%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu .menuBox .menuBoxCard {
    width: 278px;
    overflow: hidden;
    height: 100%;
    border: 1px solid #fff;
    cursor: pointer;
}

.menu .menuBox .menuBoxCard h1 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
}

.menu .bottomLine {
    width: 74%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #fff;
}