/* ====================Section logo - Start================================= */
.headLogo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0
}

.headLogo .line {
    background: #fff;
    width: 18rem;
    height: 1px;
}

.headLogo .secondLine {
    background: #fff;
    width: 16rem;
    height: 1px;
    margin: 5px 0;
}

.headLogo .logo span {
    color: white;
    text-transform: uppercase;
    font-size: 54px;
    cursor: pointer;
}

.headLogo .logoPara p {
    color: #fff;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

/* ====================Section logo - End=================================  */
/* ====================Section Navbar - Start================================= */

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar .navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.navbar .navList a li {
    list-style: none;
}

.navbar .navList a li:hover {
    color: #BF9515;

}

.navbar .navList a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 20px;
}

.navbar .loginCart {
    display: flex;
    padding-left: 15px;
}


.navbar .loginCart .icart {
    color: #BF9515;
    cursor: pointer;
    padding: 0 8px;
    font-size: 20px;

}

.navbar .loginCart .cart {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    z-index: 10;
    transition: width 1s ease;
}

.navbar .loginCart .cart .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}



/* ====================Section Navbar - End================================= */