/* ==================Section Reserve Table - Start================= */
.reserveTbl {
    width: 74%;
    margin: 15px auto;
}

.reserveTbl .reserveTitle {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.reserveTbl .reservePara {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.reserveTbl .form {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.reserveTbl .form .fmGDT {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reserveTbl .form .fmGDT select {
    width: 290px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0 5px;
}

.reserveTbl .form .fmGDT input {
    width: 290px;
    height: 30px;
    color: #fff;
    padding: 0 5px;
    border: 1px solid #fff;
    font-size: 16px;
}

.reserveTbl .reserveTableLine {
    background-color: #fff;
    margin: 30px 0px;
    height: 1px;
    width: 100%;
}

.reserveTbl .form .fmTimes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
    gap: 20px;
}

.reserveTbl .form .fmTimes .fmTm {
    color: #fff;
    border: 1px solid #fff;
    width: 160px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.reserveTbl .form .fmTimes .fmTm:hover {
    border: 1px solid #BF9515;
}

.reserveTbl .form button {
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.5rem;
    cursor: pointer;
}

.reserveTbl .form button:hover{
    background-color: #BF9515;
    transition: background-color 1s ease;
}

/* ==================Section Reserve Table - end================= */